<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUsuarios" />
        <binding name="BasicHttpBinding_IAreas" />
        <binding name="BasicHttpBinding_IUsuarios1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Servicios/Usuarios/rest"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarios"
        contract="sUsuarios.IUsuarios" name="BasicHttpBinding_IUsuarios" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Servicios/Areas/rest"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAreas"
        contract="sAreas.IAreas" name="BasicHttpBinding_IAreas" />
    </client>
  </system.serviceModel>
</configuration>